# Ignore all
*

# Share these
!.gitignore
!README.md
!CLAUDE.md
!Makefile

# Loader infrastructure
!bin/
!bin/**
!conf.d/
!conf.d/**

# Tool folders
!tgt/
!tgt/**
!tun0ip/
!tun0ip/**

# Design notes
!specs/
!specs/**
