# Ignore all
*

# Required repo files
README.md

# Share these
!.gitignore
!tgt.fish
!CLAUDE.md
!Makefile

# Loader infrastructure
!bin/
!bin/**
!conf.d/
!conf.d/**

# Tool folders
!tun0ip/
!tun0ip/**

# Design notes
!specs/
!specs/**
